body {
    background-color: #eee;
}
p {
    margin: 0 0 1em 0 !important;
}
#zip_archive {
    text-align: center;
}

div.container {
    width: 150mm;
    border: 1px solid #999;
    padding: 10mm 20mm;
    margin: 1em auto 1em auto;
    background-color: #fff;
    box-shadow: 10px 10px 5px #888;
    overflow: hidden;
}


h1 {
    font-size: 14pt;
    position: relative;
    margin: 0;
}
h1 img {
    vertical-align: middle;
}
h3 {
    border-bottom: 2px double #ddd;
    padding: 1mm 0;
    margin: 0;
    font-size: 12pt;
    font-weight: bold;
}

div.wpt {
    page-break-after: always;
}

.gccode {
    position: absolute;
    right: 0;
    top: 5px;
    display: block;
}

p.infos_position {
    position: relative;
    margin: 0 !important;
}
.coordinates {
    font-size: 12pt;
}

.owner {
    position: absolute;
    right: 0;
    top: 0px;
    display: block;
}

.infos:after, .finder_infos:after {
    content: ""; /* Important, sinon l'élément n'est pas généré. */
    display: block;
    clear: both;
}

.infos_left {
    float: left;
    width: 130px;
}
.infos_left span {
    display: block;
    float: right;
}
.infos_right {
    float: right;
    width: 50%;
    text-align: right;
}

.attributes  {
    list-style-type: none;
    padding: 0;
    margin: auto;
}
.attributes  li{
    margin: auto;
    display: inline;
    padding: 0 1mm 0 0;
}

.log {
    border-bottom: 1px solid #ccc;
    padding: 1mm 0;
    line-height: 1.2em;
}
.log p {
    margin: 0 !important;
    font-size: 10pt !important;
}
.finder_name {
    float: left;
    width: 50%;
    font-weight: bold;
}
.finder_name img {
    vertical-align: top;
}
.finder_date {
    float: right;
    width: 50%;
    text-align: right;
    font-weight: bold;
}
.log p.finder_text {
    padding-bottom: 0.5em !important;
}