html {
    -weasy-hyphens: auto;
}
body, td, pre {
    color: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 8px;
}

.container1 {
    float: left;
    width: 50%; /* Bug in weasyPrint, fixed width temporarily, WIP */
}
.container2 {
    text-align: right;
}
.clear {
    clear: both;
    height: 0;
}
.container1 p, .container2 p {
    margin: 0.5mm 0;
}
h1 {
    font-size: 12pt;
    margin: 0;
}
h1 img {
    width: 20px;
    height: auto;
}
.cacheInfos {
    margin-bottom: 1mm;
}
h1 img, .finder_name img {
    vertical-align: middle;
}
.cacheGCode {
    font-size: 12pt;
    font-weight: bold;
}
.cacheAttributes {
    margin: 1mm 0 0mm 0;
    padding: 0;
    height: 30px;
}
.cacheAttributes li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0 1mm 0 0;
    height: 30px;
    width: 30px;
}
.cacheNote {
    height: 3cm;
    border: 1px solid #ddd;
    margin-top: 1mm;
}
.cacheNote p {
    margin: 0;
    background-color: #ddd;
}
.cacheHint {
    margin-bottom: 2mm;
}

.cacheHint p {
    margin: 0;
}

.cacheLogs img {
    margin: 1mm;
}
.cacheLogs table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}
.cacheLogDate {
    width: 30mm;
    text-align: right;
}
.cacheLogText {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}
.cacheLogs tr:nth-child(odd) {
    background: #eee;
    font-weight: bold;
}
.cacheLogs tr:nth-child(even) {
    background: #fff;
}

.cacheHint p:first-child, .cacheLogs p:first-child {
    font-size: 12pt;
    font-weight: bold;
    border-bottom: 1pt solid black;
    margin: 0 0 1pt 0;
}
.pagebreak {
    display: block;
    clear: both;
    page-break-after: always;
}

.short_description img, .long_description img {
    max-width: 15cm;
    height: auto;
}