body {
    padding-top: 1em;
}
header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}
.hero-unit {
    padding: 40px;
    background-image: url('/design/beta.png');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 295px 13px;
}
.hero-unit h1 {
    font-size: 44px;
}
.close, .close:hover {
    opacity: 1;
}
#options legend {
    margin: 0;
}
#options .control-group {
    margin-top:0;
    margin-left: 20px;
}
#options label.checkbox {
    width: 160px;
}
#hint_options, #sort_options {
    margin-left: 1em;
}
#download {
    margin: 0;
}
#download li {
    display: inline;
}
#actions {
    width: 210mm;
    margin: auto;
}
#tinymce {
    margin-top: 1em;
    width: 210mm;
    margin: 1em auto 0 auto;
}
footer {
    height: 79px;
    background-color: #eee;
    border-top: 1px solid #ddd;
}
footer > .container {
    padding: 5px 0 0 0;
}
#paypal {
    float: right;
    text-align: center;
    border: 1px solid gray;
    background-color: #ccc;
    width: 120px;
    height: 70px;
    border-radius: 5px;
}
#donate {
    font-size: 0.8em;
    text-align: justify;
}
#donate form {
    text-align: center;
}
#ui_export .modal-body {
    max-height: 800px;
}
#faq {
    font-size: 0.8em;
    text-align: justify;
    width: 650px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -325px;
}
#faq .modal-body {
    max-height: 400px;
}
#faq dd {
    margin-bottom: 1em;
}
#help {
    font-size: 0.8em;
}
.option-help {
    margin-top: 8px;

}
.hide {
    display: none;
}

.modal {
    position: absolute;
    top: 10%;
}

@media all and (min-height: 40em) {
    .modal {
        position: fixed;
    }
    .modal-body {
        max-height: 35em;
        overflow-y: auto;
    }
}