body {
    padding-top: 1em;
}
header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}
.hero-unit {
    padding: 40px;
    background-image: url('/design/beta.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.hero-unit h1 {
    font-size: 44px;
}
.close, .close:hover {
    opacity: 1;
}
#options legend {
    margin: 0;
}
#options .control-group {
    margin-top:0;
    margin-left: 20px;
}
#hint_options {
    margin-left: 20px;
}
#download {
    margin: 0;
}
#download li {
    display: inline;
}
#tinymce {
    margin-top: 1em;
}
footer {
    height: 79px;
    background-color: #eee;
    border-top: 1px solid #ddd;
}
footer > .container {
    padding: 5px 0 0 0;
}
#ui_export .modal-body {
    max-height: 800px;
}
#faq {
    font-size: 0.8em;
    width: 650px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -325px;
}
#faq .modal-body {
    max-height: 800px;
}
#faq dd {
    margin-bottom: 1em;
}
