<div id="faq" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" style="background: var(--bg-base); color: var(--text-primary);">
            <div class="modal-header" style="border-color: var(--divider);">
                <h5 class="modal-title" style="font-family: var(--font-display);">FAQ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>My language isn't in the list, how to get it?</dt>
                    <dd class="text-secondary">You can translate <a href="https://github.com/Surfoo/georoadbook/blob/master/app/locales/en.xml" target="_blank" rel="noopener">this file</a> and make a pull request on GitHub or send it by email. I'll add it quickly then.</dd>

                    <dt>Why does my roadbook no longer exist?</dt>
                    <dd class="text-secondary">All roadbooks are kept 1 month after the last modification date. You can know the date with a hover on the "Save" button, and if you save it, it'll be kept again.</dd>

                    <dt>Is my roadbook public and published on internet?</dt>
                    <dd class="text-secondary">No, your roadbook is absolutely private and it doesn't appear on search engines. Only you know the link, and you should keep it private if you prepare an event.<br>
                        Your roadbook can't be found with tests on the URL, the identifiers are random.</dd>

                    <dt>Why doesn't my GPX file work?</dt>
                    <dd class="text-secondary">Only GPX files with the version 1.0.1 are managed, if you don't know the version, <a href="https://www.geocaching.com/account/settings/preferences" target="_blank" rel="noopener">check your preferences</a>.<br>
                        GPX with tracks are not supported. If your file still doesn't work, it may be corrupted.</dd>

                    <dt>Why can't I see spoilers in the roadbook?</dt>
                    <dd class="text-secondary">Unfortunately, the links to spoilers aren't included in the GPX file, maybe one day Groundspeak will fix this, who knows?<br>
                        If you want spoilers in the roadbook, you should insert them manually with the image button or use my web app <a href="http://spoilers4gpx.vaguelibre.net/" target="_blank" rel="noopener">Spoilers4gpx</a>.</dd>

                    <dt>Why is pagination missing in the table of contents?</dt>
                    <dd class="text-secondary">The rendering engine doesn't implement this feature yet. You should add the pagination manually after a first PDF export.<br>
                        You can also use the Print Preview in your browser with the roadbook in HTML view.</dd>

                    <dt>Why does my roadbook look good in the editor and not in the PDF?</dt>
                    <dd class="text-secondary">The PDF rendering is great but some HTML/CSS features aren't implemented yet.</dd>

                    <dt>I have a problem with GeoRoadbook, what can I do?</dt>
                    <dd class="text-secondary mb-0">If you find bugs, please <a href="https://github.com/Surfoo/georoadbook/issues" target="_blank" rel="noopener">open an issue on GitHub</a>, or <a href="#about" data-bs-toggle="modal" data-bs-dismiss="modal">contact me</a>.</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
