<header class="mb-3">
  <div class="navbar navbar-dark bg-dark">
      <div class="container">
          <span class="navbar-text text-white">GeoRoadbook</span>
          <div class="justify-content-end">
              {% if app.user is empty %}
                  <a href="{{ path('app_login') }}" class="text-center btn btn-primary btn-sm">Sign in</a>
              {% else %}
                  <div class="hello-user navbar-right navbar-text">
                      <span>
                          <img src="{{ app.user.avatarUrl }}" loading="lazy" width="30" alt="{{ app.user.username }}'s avatar" />
                      </span>
                      <span>{{ app.user.username }}</span>&nbsp;&nbsp;
                      <a href="{{ path('app_logout') }}" class="btn btn-primary btn-sm" role="button">Sign out</a>
                  </div>
              {% endif %}
          </div>
      </div>
  </div>
</header>