<div id="about" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>About</h3>
      </div>
      <div class="modal-body text-justify">
        <h5><strong>Attribution:</strong></h5>
        <p>
          <span style="float: right; padding: 0 0 0 12px;">
            <a href="https://www.geocaching.com" onclick="window.open(this.href);return false;">
              <img src="/design/live.png" alt="Geocaching API">
            </a>
          </span>
          Powered by the Geocaching API. Made possible through the support of Geocaching Premium Memberships, 
          the API program gives third-party developers the opportunity to work with Geocaching HQ on a full suite 
          of integrated products and services for the community. API developer applications are designed to work 
          with the core services of geocaching.com and provide additional features to the geocaching community. <br /><br />
          Geocaching Cache Type Icons © Groundspeak, Inc. DBA Geocaching HQ. All rights reserved. Used with Permission. 
        </p>

        <h5><strong>Privacy policy:</strong></h5>
        <p>Georoadbook collect some informations about the connected user in order to keep him/her connected to this application with a session cookie.<br />
           Georoadbook collect your Pocket Queries if you are connected and premium member.<br />
           Georoadbook doesn't share any of your personal data to a third party.<br />
           Your created roadbooks are deleted after 30 days without any modifications, you can to exercise your data rights 
           by sending the URL of the roadbook to delete by email (see below).
        </p>

        <h5><strong>Contact:</strong></h5>
        <p>You can contact me for any questions, bugs, or suggestions by email:<br />
        <strong>surfooo at gmail dot com</strong> (French or English only)
        </p>

      </div>
    </div>
  </div>
</div>
