<div id="about" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Contact</h3>
      </div>
      <div class="modal-body">
        <p>You can contact me for any questions, bugs, or suggestions by email:<br />
        <strong>surfooo at gmail dot com</strong> (French or English only)
        </p>
        <hr />
        <div id="powered">
          <p class="text-justify">Powered by the Geocaching API. Made possible through the support of Geocaching Premium Memberships, the API program gives third-party developers the opportunity to work with Geocaching HQ on a full suite of integrated products and services for the community. API developer applications are designed to work with the core services of geocaching.com and provide additional features to the geocaching community.
          </p>
          <p class="text-center">
            <a href="https://www.geocaching.com" onclick="window.open(this.href);return false;"><img src="/design/live.png" alt="Geocaching API"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
