<div id="about" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Contact</h3>
      </div>
      <div class="modal-body">
        <p>You can contact me for any questions, bugs, or suggestions by email:<br />
        <strong>surfooo at gmail dot com</strong> (French or English only)
        </p>
      </div>
    </div>
  </div>
</div>