<div id="ui_exported" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Your roadbook has been exported successfully!</h3>
            </div>
            <div class="modal-body">
                <p id="download_link"></p>
                <small>You can also download your roadbook later with the "Download as" button.</small>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>