<hr />

<footer class="">
    <div class="container navbar">
        <ul>
            <li><i class="glyphicon glyphicon-question-sign"></i> <a href="#faq" data-toggle="modal">FAQ</a></li>
            <li><i class="glyphicon glyphicon-info-sign"></i> <a href="#about" data-toggle="modal">About</a></li>
            <li><a href="https://github.com/Surfoo/georoadbook" onclick="window.open(this.href);return false;" title="Georoadbook on Github">
                <img src="/design/icon-github.png" alt="" /> Github</a></li>
        </ul>
    </div>
</footer>