<div id="help" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Need help?</h3>
      </div>
      <div class="modal-body">
        <p>Your roadbook is now displayed in text editor mode.<br />
           You can change, delete, move, add contents, insert images or even create new pages.</p>

        <h4>Action buttons</h4>
        <ul>
            <li><strong>Save:</strong> Save your roadbook on the server. You can know the last save date with a hover on this button.</li>
            <li><strong>Export as PDF:</strong> Create your roadbook in PDF, some options are available: format, margins, and a custom header or footer.</li>
            <li><strong>Download as:</strong> This button offers the following options in a drop down list:
                <ul>
                    <li>HTML: Your roadbook will be displayed in your web browser, like a normal web page.</li>
                    <li>ZIP: A dialog box will be displayed in which you can decide where to save the zipped HTML roadbook and rename the file.</li>
                    <li>PDF: If you have previously clicked the "Export as PDF" button, this third option is offered. A dialog box will be displayed in which you can decide where to save the roadbook in PDF format and rename the file.</li>
                </ul>
            </li>
            <li><strong>Delete:</strong> When you click this button your roadbook will be destroyed. There is no undo for this function.</li>
        </ul>
      </div>
    </div>
  </div>
</div>