<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GeoRoadbook, create your geocaching roadbook ready-to-print</title>

        <link rel="icon" type="image/png" href="/design/icon-roadbook.png" />
        <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css?{{ suffix_css_js }}" media="all" />
        <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css?{{ suffix_css_js }}" media="all">
        <link rel="stylesheet" href="/app.min.css?{{ suffix_css_js }}" media="all">
        <script type="text/javascript" src="/assets/jquery/jquery.min.js?{{ suffix_css_js }}"></script>
        <script type="text/javascript" src="/assets/tinymce/tinymce.min.js?{{ suffix_css_js }}"></script>
        <script type="text/javascript">
            var roadbook_id = '{{ roadbook_id|e('js') }}', language = '{{ language|e('js') }}';
        </script>
    </head>
    <body>

        {% include '_header.twig.html' %}

        <div class="container" role="main">
            <div class="row">
                <div class="col-md-12">
                    <div id="actions">
                        <div class="pull-right">
                            <a href="#help" data-toggle="modal"><img src="/design/circle_question_mark.png" alt="Help" title="Need help?" /></a>
                        </div>

                        <div class="btn-group" role="group">
                            <button type="submit" id="btn_save" class="btn btn-primary disabled" data-loading-text="Saving..." title="{{ last_modification|e }}">Save</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" title="Export as PDF" id="btn_export_title"><i class="icon-download icon-white"></i> Export as PDF</button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="btn_export">
                                <span class="caret"></span>
                            </button>

                            <ul id="export_pdf" class="dropdown-menu">
                                <li><a href="#ui_export" id="btn_export" class="" data-toggle="modal" title="Export as PDF file"><img src="/design/icon-pdf.png" alt="" /> Normal export</a></li>
                                <li><a href="#ui_export_exp" id="btn_export_exp" data-toggle="modal" title="Export as PDF file (experimental)"><img src="/design/icon-pdf-exp.png" alt="" /> Experimental export</a></li>
                            </ul>
                        </div>

                        <div class="btn-group" role="group">
                            <button class="btn btn-primary" title="Download your roadbook" id="btn_download_title"><i class="icon-download icon-white"></i> Download as</button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="btn_download">
                                <span class="caret"></span>
                            </button>
                            <ul id="download" class="dropdown-menu">
                                <li><a href="?raw" title="View only as HTML page"><img src="/design/icon-html.png" alt="" /> HTML</a></li>
                                {% if available_zip is defined %}<li><a href="?zip" title="Download a zip archive (HTML and images)"><img src="/design/icon-zip.png" alt="" /> ZIP</a></li>{% endif %}
                                <li id="dl_pdf" style="display: {% if available_pdf is defined %}visible{% else %}none{% endif %};"><a href="?pdf" title="Download as PDF"><img src="/design/icon-pdf.png" alt="" /> PDF</a></li>
                            </ul>
                        </div>

                        <div class="btn-group" role="group" title="Delete your roadbook">
                            <button type="submit" id="btn_delete" class="btn btn-warning"><i class="icon-trash icon-white"></i> Delete</button>
                        </div>
                        {% include '_export.twig.html' %}
                        {% include '_export_exp.twig.html' %}
                        {% include '_exported.twig.html' %}
                    </div>
                    <div id="tinymce">
                        <textarea id="editable" cols="100" rows="100">{{ roadbook_content }}</textarea>
                    </div>
                {% include '_faq.twig.html' %}
                {% include '_about.twig.html' %}
                {% include '_help.twig.html' %}
                </div>
            </div>

        </div>

        {% include '_footer.twig.html' %}

        <script type="text/javascript" src="/assets/bootstrap/dist/js/bootstrap.min.js?{{ suffix_css_js }}"></script>
        <script type="text/javascript" src="/app.min.js?{{ suffix_css_js }}"></script>
        <script type="text/javascript">
            require('app');
        </script>
    </body>
</html>
